.FeaturedPost {
    margin-top: 3rem;
}

.postContainer {
    display: flex;
}

.coverImage {
    width: 60%;
}

.coverImage > img {
    max-width: 100%;
}

.postContent {
    margin: 6rem 4rem;
    width: 40%;
}

.postTags {
    display: flex;
    color: #333;
    margin: 1rem 0;
}

.postTitleText {
    font-size: 3rem;
    line-height: 3.25rem;
    text-align: start;
    font-weight: 400;
}

.postLimited > *{
    text-align: start;
    --max-lines: 3;
    --line-height: 2;
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
}

.postLimited > *::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, #ededed);
}

.readMore {
    margin: 2rem 0;
    text-align: start;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;    
}

.readMore:hover {
    opacity: 50%;
    transition: .5s;
}

.readMore::before {
    content: "";
    background-color: #000;
    width: 40px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-transition: 0.2;
    -o-transition: 0.2;
    transition: 0.2;
}

@media only screen and (max-width: 1380px) {
    .postContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .postContent {
        width: 100%;
    }

    .coverImage {
        width: 100%;
    }
}

