.Footer {
    position: static;
    bottom: 0;
    height: 100px;
    width: 80%;
    margin: 0 auto;
}

.socials {
    margin: 2rem auto;
}

.socials > * {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    transition: .5s;
}

.socials > *:hover {
    opacity: 50%;
    transition: .5s;
    cursor: pointer;
}