.Login {
    padding: 2rem 0;
}

.editor {
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  text-align: start;
}

.ql-toolbar {
  margin-top: 2rem;
}

.button-55 {
  align-self: center;
  background-color: inherit;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.tags {
  margin: 3rem;
}

.tags > * {
  padding-right: 1rem;
}

input {
  margin-right: 0.5rem;
}

.titleText > label > input, .cover > label > input {
  margin-right: 0.5rem;
  background-color: transparent;
  border: 1px solid #41403e;
  width: 50%;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem;
}

.posts {
  width: 50%;
  margin: 4rem auto;
}

.post {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.post > div {
  cursor: pointer;
}

.delete {
  color: red;
}

.featured {
  color: purple;
}

.authentication {
  display: flex;
  flex-direction: column;
}

.authentication > * {
  margin: 1rem;
}